$color-primary: #3f51b5

.header
  display: flex
  justify-content: space-between
  align-items: center

  ul
    display: flex
    width: 100%
    list-style: none
    align-items: center
    padding: 1rem
    border-bottom: 1px solid #ccc
    background: $color-primary

    &:nth-child(2)
      justify-content: flex-end
      gap: 1rem

    li
      cursor: pointer

      &:hover
        color: #fff
        opacity: 0.75

    @media screen and (max-width: 600px)
      font-size: 13px

.container
  padding: 1rem
