/* Estilos de la carta */
.carta
  background-color: #f7f7f7
  border: 1px solid #ccc
  padding: 20px
  border-radius: 5px
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)

  .header
    text-align: center
    margin-bottom: 20px

  .contenido
    font-size: 16px
    line-height: 1.6

  /* Agrega más estilos para personalizar la carta según tus preferencias */
